# Primary repos
ARO-HCP/
ARO-Tools/
release/
sdp-pipelines/

# Upstream components
aro-hcp-clusters-service/
hypershift/

# Prow/Openshift CI
ci-docs/
ci-tools/
prow/

# symlinks for easier nav
hcp
tools

# For debugging sessions:
must-gather*

# rws
.rws/*.local.toml
